<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/welcome' ? 'active' : 'hidden' %>"
                   href="/welcome">Welcome</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/events">Events</a>
            </li>
            <% if (isLoggedIn){ %>
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Add Event</a>
            </li>
            <% } %>
        </ul>
        <ul class="main-header__item-list">
            <% if (!isLoggedIn){ %>
                <li class="main-header__item">
                    <a href="/">Login</a>
                </li>
                <li class="main-header__item">
                    <a href="/">Sign Up</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <a href="/logout">Logout</a>
                </li>
            <% } %>
        </ul>
    </nav>
</header>