<%- include("partials/header.ejs") %>
<body>
<%- include("partials/nav.ejs") %>
    <main>
        <div class="jumbotron centered">
            <h1>Event Tracker Sign-In</h1>
            <div class="centered viewEvents">
                <a href="/events">View Events</a>
            </div>
            <p>Please sign in to create and modify your events</p>
        </div>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email" class="form-label">E-mail:</label>
                <input id="email" type="email" name="email"><br>
            </div>
            <div class="form-control">
                <label for="password" class="form-label">Password:</label>
                <input id="password" type="password" name="password"><br>
            </div>
            <button class="btn" type="submit">Login</button>
            <a id="signUpLink" href="/signup">Create new account</a>
        </form>
    </main>
</body>