<%- include("partials/header.ejs") %>
<body>
<%- include("partials/nav.ejs") %>
    <main>
        <% if (errorMessage) { %>
        <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/login" method="POST">
            <div class="form-control">
                <label for="email" class="form-label">E-mail</label>
                <input id="email" type="email" name="email"><br>
            </div>
            <div class="form-control">
                <label for="password" class="form-label">Password</label>
                <input id="password" type="password" name="password"><br>
            </div>
            <button class="btn" type="submit">Login</button>
        </form>
    </main>
</body>