<%- include("partials/header.ejs") %>
<%- include("partials/nav.ejs") %>
<body>
<div class="container">
<div>
    <div class="jumbotron centered">
        <h1>Event Tracker - Welcome!</h1>
        <div class="centered viewEvents">
            <a href="/">Return to Login Page</a>
        </div>
        <p>Hello <%= username %>, you are logged into account <em><%= current_user %></em></p>
    </div>
    <div class="centered">
        <a  href="/events"><img id="eventsImg" src="/img/events.jpg" alt="events"></a>
        <a  href="/events/new"><img id="addEventsImg" src="/img/addEvents.jpg" alt="addEvents"></a>
    </div>
</div>


</div>

</body>